.card-more-link {
  color: #2b8fc5;
  position: relative;
  text-decoration: none;
}

.card-more-link::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 4px;
  border-radius: 4px;
  background-color: #18272f;
  bottom: 0;
  left: 0;
  transform-origin: right;
  transform: scaleX(0);
  transition: transform 0.3s ease-in-out;
}

.card-more-link:hover::before {
  transform-origin: left;
  transform: scaleX(1);
}

.card {
  transition: scale 1s ease-in-out, border 1s linear;
}

.card:hover {
  scale: 1.08;
  border: 1px solid rgb(173, 240, 225);
}
